/* color pallet
     orange: #dd6b4d
     bright blue: #dae1e7
     charcoal: #183661
     grey: #747E80
     cream: #1c4b82
    */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'proxima-nova';
    background-color: #dae1e7;
    color: #183661;
}

a { 
    color: #1c4b82;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dd6b4d;
}

#home {
    outline: 2px solid #dd6b4d;
    outline-offset: -20px;
    min-height: 100vh;
}


#profile {
    position: relative;
    display: block;
    width: auto;
    height: 70vh;
}


#title {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #dae1e7;
}

 /* Arrow & Hover Animation */
.more-arrows {
    text-decoration: none;
    width: 75px;
    height: 65px;
}
.more-arrows:hover polygon {
fill: #dd6b4d;
transition: all .4s ease-out;
}
.more-arrows:hover polygon.arrow-bottom {
-webkit-transform: translateY(-18px);
        transform: translateY(-18px);
}
.more-arrows:hover polygon.arrow-top {
-webkit-transform: translateY(18px);
        transform: translateY(18px);
}
  
polygon {
fill: #dd6b4d;
transition: all .2s ease-out;
}
polygon.arrow-middle {
opacity: 0.75;
}
polygon.arrow-top {
opacity: 0.5;
}


#bio {
    padding-top: 40vh;
    min-height: 90vh;
}

#bioContent {
    color: #183661;
}


#name {
    text-shadow: #1c4b82 2px 2px;
    font-size: 60pt;
    color: #dd6b4d;
}

.spacer {
    height: 3vh;
}

.pageTitle {
    font-size: 40pt;
    color: #dd6b4d;
    text-shadow: #1c4b82 2px 2px;
}


#contact {
    min-height: 95vh;
}


#about,
#portfolio {
    /* margin-top: 60px; */
    min-height: 100vh;
    background-color: #dae1e7;
    color: #183661;
}

#pageContent {
    min-height: 70vh;
}

#aboutPage {
    min-height: 80vh;
}

#spacerPortfolio {
    min-height: 10vh;
}

.card {
    font-size: 16pt;
    padding: 20px;
    border: 2px solid #1c4b82;
    background-color: #dae1e7
}

.card-img-top {
    margin: 0px auto;
    width: 90%;
    height: 300px;
}

.card-title {
    font-size: 22pt;
    color: #dd6b4d;
    text-shadow: #1c4b82 .5px .5px;
}

.cardBtn {
    color: #1c4b82;
    background-color: #dae1e7;
    border:2px solid #1c4b82;
    border-radius: 7px;
}

.cardBtn:hover {
    border-color: #dd6b4d;
}

.skillIcons {
    display: inline-block;
}

.icon {
    font-size: 30pt;
    color: #183661;
}

#profileImg {
    width: 50%;
    border: 3px solid #1c4b82;
    border-radius: 12px;
}

#myBio {
    padding: 10px;
    font-size: 16pt;
    margin: 50px auto;
    width: 50%;
    border: 3px solid #1c4b82;
    border-radius: 12px;
}

#connect {
    display: inline-block;
}

#connectSpacer {
    min-height: 25vh;
}

.largeBtn {
    margin: 12px;
    font-size: 30pt;
}

#contactinfo {
    font-size: 30pt;
}

#phone {
    display: inline;
}

#totop {
    margin: auto auto;
    margin-bottom: 20px;
}